<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<listeners>
    <listener class-name="utils.listener">

    </listener>
</listeners>
    <test verbose="2" preserve-order="true"
          name="C:/intelij idea java project/OpenHrms/src/test/java/testcases/LoginTest.java">
        <groups>
            <run>
                <include name="add"/>
            </run>
        </groups>
        <classes>
            <class name="testcases.LoginTest">
            </class>
        </classes>
    </test>
</suite>